.main__container {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: $small;
  gap: $small;
  border: 1px solid #444;
  padding: $small;
  background-color: #e5faf6;
  & .main__hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 620px;
    border: 1px solid #333;
    padding: $xsmall;
    & figcaption {
      font-size: 0.8em;
    }
  }
  & .main__socialMedia ul {
    display: flex;
    & li {
      margin-left: $xsmall;
      list-style: none;
    }
  }
  & .index__section {
    display: flex;
    justify-content: space-evenly;
    gap: $small;
    margin-top: $small;
    & .section__notes {
      display: flex;
      flex-direction: column;
      max-width: 50%;
      gap: $small;
      border: 1px solid #333;
      padding: $xsmall;
      & figcaption {
        font-size: 0.8em;
      }
    }
  }
}

.aside__container {
  & .aside__h4 {
    display: block;
    font-size: $small;
    text-align: center;
    margin-top: 5rem;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-decoration: underline;
  }
}
