.foot__container {
  grid-column: 1/4;
  grid-row: 17/20;
  display: flex;
  margin-top: $xsmall;
  justify-content: center;
  align-items: center;
  background-color: $title-color;
  min-height: 80px;
  color: $weatherapp-color;
}
