#moment__container {
  display: block;
  position: fixed;
  height: 70px;
  width: 200px;
  background-color: rgba(92, 91, 91, 0.3);
  border-radius: 10px;
  text-align: center;
  font-size: 45px;
  font-weight: 900;
  left: 5%;
  bottom: 5%;
}
