.main__log-sign {
  grid-column: 1/4;
  display: flex;
  max-height: 100vh;
  max-width: 100vw;
  gap: $large;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: $large;
  & #login__container {
    background-color: #fffffe;
    width: 30%;
    height: 600px;
    border-radius: 10px;
    & #login__form {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      gap: $small;
      padding: $large;
      align-items: center;
      & > input {
        height: 40px;
        width: 300px;
        border: none;
        border-bottom: 2px double #333333;
      }
      & #login__title {
        font-size: $title-fontSize;
        width: 100%;
        border-bottom: 1px solid #333;
        margin: 0;
        padding-bottom: $small;
      }
      & > button {
        text-transform: uppercase;
        align-self: center;
        width: 35%;
        font-size: 1em;
        padding: $xsmall;
        background-color: rgb(47, 53, 46);
        color: #fff;
        border: transparent;
        border-radius: 10px;
        margin-right: $small;
        cursor: pointer;
        &:hover {
          background-color: $stickynotes-color;
          color: rgb(47, 53, 46);
        }
      }
    }
  }
  & #signup__container {
    background-color: #fffffe;
    width: 70%;
    height: 650px;
    border-radius: 10px;
    & #signup__form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, 70px);
      height: 100%;
      flex-wrap: wrap;
      gap: $small;
      padding: $large;
      align-items: center;
      & > input {
        height: 40px;
        max-width: 350px;
        border: none;
        border-bottom: 2px double #333333;
      }
      & #signup__title {
        grid-column: 1/3;
        grid-row: 1;
        font-size: $title-fontSize;
        width: 100%;
        border-bottom: 1px solid #333;
        margin: 0;
        padding-bottom: $small;
      }
      & #signup__btn {
        grid-column: 1/3;
        grid-row: 7;
        text-transform: uppercase;
        font-size: 1em;
        padding: $xsmall;
        background-color: rgb(47, 53, 46);
        color: #fff;
        border: transparent;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          background-color: $stickynotes-color;
          color: rgb(47, 53, 46);
        }
      }
    }
  }
}
