* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

html {
  font-size: 62.8%;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 100vh;
  background-color: $main-color;
  font-size: $small;
  font-family: $text-fontStyle;
}

img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
